li {
  font-family:  Andale Mono, monospace;
  font-stretch: condensed;
  color:  #D2691E;
  font-size: 18px;
}


ol {
  font-family:  New Century Schoolbook, serif;

  color:  #D2691E;
  font-size: 20px;
}
