input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 36px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* label {
  padding: 12px 12px 12px 0;
  display: inline-block;
} */
