.static_page {

background-color: #BDB76B ;
}

h1 {

  font-family:  Oldtown, fantasy;
  font-size: 46px;
  color:  ##2F4F4F;

}

p {
  font-style: italic;
  font-family:  Zapf Chancery, cursive;
  font-size: 28px;
  color:  IndianRed  ;

}
